div.JC-popup input {font-size:14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:#ccc 1px solid;padding:4px;margin;0;}
div.JC-popup h1,
div.JC-popup p {margin:5px 0;}
div.JC-popup form {padding:400px 0px 0px 400px;}
div.JC-popup input.submit {padding:4px 9px;}
div.JC-popup a.close {display:block;float:right;color:#ccc;font-size:11px;margin:-10px -10px 10px 0;text-decoration:none;}
* html div.JC-popup a.close {margin-right:-5px;}
div.JC-popup a.close:hover {color:#f00;text-decoration:underline;}
div.JC-popup td {padding-bottom:5px;}
div.JC-popup td.label {padding-right:5px;}
