#searchform {
	/*border-bottom: 1px solid #D1CAB4;*/
    margin-bottom: 20px;   
  /*  padding-bottom: 20px;*/
}
.sl_zag1 {
	color: #333333;
    font-size: 12px;
	padding: 0 0 15px 0;
	font-weight: bold;
	font-family: arial;
	text-transform: uppercase;
}
.sl_zag2 {
	color: #333333;
    font-size: 12px;
	padding: 15px 0 15px 0;
	font-weight: bold;
	font-family: arial;
	text-transform: uppercase;
}
.sl_rub {
	display: block;
	padding-top: 4px; 
}
.sl_proiz {

}
.sl_inp input{
	background: url("../images/searchbutton.jpg") no-repeat left top #F8F8F8;
	width: 204px; 
	height: 33px;
	border: none !important;
	cursor: pointer;

}
.sl_cen2 {
	margin-right: 5px !important;
}
.sl_check input {
   background: none repeat scroll 0 0 transparent !important;
    border: 1px solid #E5E5E5 !important;
    color: #434343 !important;
    float: left !important;
    font-size: 12px !important;
    font-weight: bold !important;
    height: 15px !important;
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
    width: 15px !important;
	
}
.sl_check  label {
	top: 0 !important;
	margin: 0 0 0 5px !important;
	
}
.formCost {
	float: left;
	margin-bottom: 10px;
	width:210px;
}
.formCost label {
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 5px;
    position: relative;
    top: 2px;
}
.formCost input {
	float: left;
	text-align: right;
	color: #434343;
	font-size: 12px;
	font-weight: bold;
	width: 55px;
	height: 17px;
	background: none;
	border: 1px solid #E5E5E5;
	margin-right: 10px;
}

.sliderCont {
margin: 10px 0 15px;
	
}		

#slider {
	width: 200px;
}

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 18px;
	height: 18px;
	background: url(../images/slider2.png) no-repeat;
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	 height: 5px;
}
.ui-slider-horizontal .ui-slider-handle { 
	top: -7px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-content { 

	background: #F8F8F8;
}
.ui-widget-header { 

	background: url(../images/slider_bg.png) repeat-x #ffb16d;
}
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
