<!-- @output_begin -->
<style>
  .brands1 {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  .brands1 > li {
    /*border: 1px solid #C1C1C1;*/
    /*border: 1px dashed #D1CAB4;*/
    margin: 10px 0 0;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dddddd;
  }
  .brands1 > li:first-child {
    margin: 0;
  }
  .brands1 > li > ul {
    float: left;
    /*font-size: 0;*/
    line-height: 0;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 18%;
  }
  .brands1 > li > ul h3 {
    margin: 0;
  }
  .brands1 > li > ul > li {
    /*font-size: 12px;*/
    line-height: normal;
  }
/*  .brands1 > li > ul > li a {
    color: #fff;
    text-decoration: underline;
  }
  .brands1 > li > ul > li a:hover {
    color: #fff;
  }*/
  .brands1 > li h2 {
    float: left;
    font-size: 16px;
    margin: 0;
    width: 10%;
  }
</style>

<div class="brand-list">
<h1>Каталог брендов</h1>
<ul class='brands1'>
  <!-- @output_block_start -->
  <li id="brand_%key%">
    <a style="position:relative; top:-75px;" name="%key%"></a>
    <h2>%key%</h2>
    <ul>
      <!-- @output_item -->
      <li><a href="%link%">%value%</a></li>
      <!-- @output_subblock -->
    </ul>
    <ul>
  <!-- @output_block_end -->
    </ul>
  </li>
<!-- @output_end -->
</ul>
</div>

