<!--
Вывод комментариев

Секции:

@content - основная секция
  если комментарии есть, метка %comments_rows% будет заменена на их список  (comments_header + comment_row*N + comments_footer)
  иначе - на содержимое метки @no_data
%total% - общее кол-во комментариев
%form% - место, куда будет добавлена форма комментариев

@comment_row - секция для комментария пользователя
@comment_row_by_admin- секция для комментария администратора


@form - форма для комментирвания

Секции сообщений формы:
@msg_processing_success
@msg_need_admin_approve
@msg_fields_not_filled
@msg_no_admin_comments
@msg_badcaptcha

Секции постраничной навигации:

@page_first - 	Заменяется переменная first в блоке @pages, в том случае, если мы находимся не на самой первой странице. Используется для формирования ссылки перехода к этой самой первой странице.
@page_backward - 	Заменяется переменная backward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница не входит в первый из них.
@page_previous - 	Заменяется переменная previous в блоке @pages, в том случае, если существует более одной страницы и необходимо вывести ссылку на предыдущую страницу относительно текущей.
@page_previous_disabled - Заменяется переменная previous в блоке @pages, в том случае, если существует более одной страницы, но текущая страница является первой и значит, что предыдущей страницы нет.
@page_next - Заменяется переменная next в блоке @pages, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к следующей странице, относительно текущей.
@page_next_disabled - Заменяется переменная next в блоке @pages, в том случае, если мы находимся на самой первой странице.
@page_forward - Заменяется переменная forward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница в любом из них, кроме последнего.
@page_forward_disabled - Заменяется переменная forward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница входит в последний из них.
@page_last 	- Заменяется переменная last в блоке @pages, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к этой самой последней странице.
@page_active - Используется для формирования переменной page_block в блоке @pages. Формируется для страницы списка, на которую может перейти пользователь (то есть не для текущей страницы).
@page_passive - Используется для формирования переменной page_block в блоке @pages. Формируется для странице списка, на которой сейчас находиться пользователь сайта (то есть для текущей страницы).
@page_delimeter - Используется для формирования переменной page_block в блоке @pages, Разделяет блоки @page_active и @page_passive друг от друга.
@page_null - Используется в том случае, если страниц так много, что необходимо показывать не все из них.
 -->


<!-- @no_data -->
<p style="text-align: center; font-weight: bold">Нет отзывов, вы будете первым(ой).</p>

<!-- @content -->
            <section class="section-review whitebg" id="product-review">


                <div class="container-tab">

                    <div class="hero-section-header productReviewTitleBAr">
                        <h3 class="hero-section-title"><i class="fa fa-2x  fa-comments-o"></i> Отзывы о товаре</h3>
                    </div>

                    <div class="all-review-wrapper ">
                        %comments_rows%
                        <div class="row">
                            <div class="col-lg-12 review-load-more">
                                <div class=" text-center">
                                    <a class="btn  btn-primary" data-target="#modal-review" data-toggle="modal">
                                        <i class="fa fa-edit"></i> Оставить отзыв</a>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </section>
            %form%




<!-- @comments_footer -->
%pages%



<!-- @comment_row -->
                        <div class="row review-item">
                            <div class="col-lg-3 col-sm-3  left">
                                <div class="review-item-user">
                                    <div class="user-name">
                                        <p>%author%</p>
                                        <small>%date% в %time%</small>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-9  col-sm-9 right">
                            <p class="commentText">
                            %txt%
                            </p>
                            </div>
                        </div>

<!-- @comment_row_by_admin -->
<li>
    <span class="author" style="color:red;"><b>Администратор</b></span> (<span class="date">%date% в %time%</span>)<br />
    %txt%
</li>
<br/>

<!-- @captcha -->
<div class="form-group">
    <label for="cmnt_captcha">Введите цифры с картинки:</label>
    <p><img src="/modules/comments/captcha.php" width="120" height="41" alt="captcha" /></p>
    <input type="text" class="form-control" id="cmnt_captcha" name="cmnt_captcha" required>
</div>

<!-- <p><img src="/modules/comments/captcha.php" width="120" height="41" alt="captcha" /></p>
<label>Введите цифры с картинки:</label>
<input type="text" class="idle" id="cmnt_captcha" name="cmnt_captcha" value="" /> -->

<!-- @form -->
<!-- Modal review start -->
<div class="modal  fade" id="modal-review" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="inputArea">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center">ОТЗЫВ О ТОВАРЕ </h3>
            </div>
            <div class="modal-body">

                <form method="post" action="#">

                    <div class="form-group">
                        <label for="cmnt_name">Имя</label>
                        <input type="text" class="form-control" id="cmnt_name" name="cmnt_name" value="%user_name%" placeholder="Ваше имя" required>
                    </div>

                    <div class="form-group ">
                        <label>Отзыв</label>
                        <textarea class="form-control" rows="3" id="cmnt_txt" name="cmnt_txt" placeholder="Ваш отзыв" required>%user_txt%</textarea>

                    </div>
                    %form_captcha%
                    <input type="hidden" name="view" value="form_processing">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>


            </div>

        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.Modal review -->

<!-- @msg_processing_success -->
<h3 style="text-align: center">Ваш отзыв опубликован</h3><br>
<!-- @msg_need_admin_approve -->
<h3 style="text-align: center">Ваш отзыв будет опубликован после просмотра администратором</h3><br>
<!-- @msg_fields_not_filled -->
<p class="error" style="text-align: center"><b>Ошибка! Не заполнены все поля!</b></p><br>
<!-- @msg_no_admin_comments -->
<p class="error" style="text-align: center"><b>Ошибка! Нельзя комменировать от имени администратора сайта!</b></p><br>
<!-- @msg_badcaptcha -->
<p class="error" style="text-align: center"><b>Ошибка! Введены неверные цифры с картинки!</b></p><br>



<!-- @pages -->
<p>
    %first%
    %previous%
    %pages_block%
    %next%
    %last%
</p>
<!-- @page_first -->
<a href="%link%">Начало</a>
<!-- @page_backward -->
<a href="%link%">&laquo;</a>
<!-- @page_backward_disabled -->
&laquo;
<!-- @page_previous -->
<a href="%link%">&laquo;</a>
<!-- @page_previous_disabled -->
&laquo;
<!-- @page_forward -->
<a href="%link%">&raquo;</a>
<!-- @page_forward_disabled -->
&raquo;
<!-- @page_next -->
<a href="%link%">&raquo;</a>
<!-- @page_next_disabled -->
&raquo;
<!-- @page_last -->
<a href="%link%">Конец</a>
<!-- @page_active -->
<a href="%link%">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @pages_null -->
