<!-- @content -->

<div class="box_home">
<div class="box2">


<h1>[#title#] <span class="obzor_rss"><a href="http://feeds.feedburner.com/My-Vip-Moda" rel="alternate" type="application/rss+xml"><img src="http://feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="RSS" title="RSS" style="vertical-align:middle;border:0"/></a><!-- <a href="/modules/newsi/rss.php" title=""><img src="/templates/images/rss.png" alt="RSS" title="RSS" border="0"/></a> --></span></h1>

%rows%

%pages%


</div> <!-- close class="box2" -->
</div> <!-- close class="box_home" -->



<!-- @rows -->
<div class="content-block">
					%image%
						<h2><a href="%url%" title="%header%">%header%</a></h2>
						<p>%description_short% | %date%</p>
</div>				
<!-- @no_data -->
<!-- Тут то, что выводится на случай если нужно выводить когда в базе нет новостей -->
<!-- @page_no -->

<!-- @pages -->
<center>
<div class="pages">
%first% %backward% %previous% %pages_block% %next% %forward% %last%
</div>
</center>



<!-- @page_first -->
<a href="%url%">←</a>
<!-- @page_first_disabled -->

<!-- @page_backward-->

<!-- @page_backward_disabled-->

<!-- @page_previous-->

<!-- @page_previous_disabled-->

<!-- @page_forward-->

<!-- @page_forward_disabled-->

<!-- @page_next-->

<!-- @page_next_disabled-->

<!-- @page_last -->
<a href="%url%">→</a>
<!-- @page_last_disabled -->

<!-- @page_active -->
<a href="%url%">%page%</a>
<!-- @page_passive -->
<a>%page%</a>
<!-- @page_delimeter -->

<!-- @image -->
<a href="%url%" title="%header%"><img src="%image_thumb%" style="float:left;margin:0 10px 10px 0;" width="100" height="100" 
border="0" alt="%header%" align="left" title="%header%"/></a>
<!-- @no_images -->


<!-- @source -->
<a href="%source_url%">%source_name%</a>
<!-- @source_no_url -->
%source_name%



<!-- @fulltext -->
<div class="box_home">
<div class="box2">

			<p><small>%date%</small></p>
			<h1>%header%</h1>%image%
			%description_full%
			<p align="right">%author% %source%</p>
			<hr/>
			<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug"></div> 
				
</div> <!-- close class="box2" -->
</div> <!-- close class="box_home" -->


<!-- @fulltext_image -->
<img src="%image_source%" style="float:left;margin:0 10px 10px 0;" border="0" alt="%header%" align="left" title="%header%"/>
<!-- @fulltext_no_image -->
<!-- @fulltext_source -->
<a href="%source_url%" title="%source_name%">%source_name%</a>
<!-- @fulltext_source_no_url -->
%source_name%
			