<!-- @content -->
<div id="otziv">
<div class="titl"><span>Новости</span>

<!-- <a class="news_rss" href="/modules/newsi/rss.php" title="">
	<img src="/templates/images/rss.png" alt="RSS" title="RSS" border="0"/></a> -->
<a class="news_rss" href="http://feeds.feedburner.com/My-Vip-Moda" rel="alternate" type="application/rss+xml"><img src="http://feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="RSS" title="RSS" style="vertical-align:middle;border:0"/></a></div>
<div class="clear"></div>
	<div class="otzivi">
		%rows% 

		<div class="clear"></div>
		<p class="more"><a href="/review.html">Все новости</a> </p>
</div>

</div>
<!-- @rows -->
<li>
<p class="news_data">%date%</p>
<div class="otziv1"></div>
<div class="otziv2">
<p><a href="%url%" title="%header%">%description_short%</a></p>
</div>
<div class="otziv3"></div>
</li>

<!-- @no_data -->
<!-- Тут то, что выводится на случай если нужно выводить когда в базе нет новостей -->
<!-- @page_no -->
<!-- @image -->
<a href="%url%" title="%header%"><img src="%image_thumb%" style="float:left;margin:0 10px 10px 0;" width="100" height="100" 
border="0" alt="%header%" align="left" title="%header%"/></a>
<!-- @no_images -->

<!-- @source -->
<a href="%source_url%">%source_name%</a>
<!-- @source_no_url -->
%source_name%

