<!-- @content -->

<div class="box_home">
<div class="box2">

<h2>Обзор моды</h2>
%rows%


<p align="right"><a href="/obzor-mody/" title="">Читать все</a>
<!-- | <a href="http://feeds.feedburner.com/My-Vip-Moda" title="">RSS</a> -->
<!-- <a href="/modules/newsi/rss.php" title="">RSS</a> --></p>

</div> <!-- close class="box2" -->
</div> <!-- close class="box_home" -->

<!-- @rows -->
<div class="content-block">
					%image%
						<h2><a href="%url%" title="%header%">%header%</a></h2>
						<p>%description_short% | %date%</p>
</div>
<!-- @no_data -->
<!-- Тут то, что выводится на случай если нужно выводить когда в базе нет новостей -->
<!-- @page_no -->
<!-- @image -->
<a href="%url%" title="%header%"><img src="%image_thumb%" style="float:left;margin:0 10px 10px 0;" width="100" height="100"
border="0" alt="%header%" align="left" title="%header%"/></a>
<!-- @no_images -->

<!-- @source -->
<a href="%source_url%">%source_name%</a>
<!-- @source_no_url -->
%source_name%

