<!-- Шаблон списка товаров -->

<!-- @list -->

<div class="box_home">
<div class="box2">

<div class="text_block-wrapper">
    <div class="text_block">
%category_description_cat%
</div>
<div class="text_block-overlay"></div>
        <div class="text_block-action">
            <a class="readmore">Читать далее</a>
        </div>
</div>

<br />
<!-- <h1>%category_name_value%</h1> -->
<!--%category_img%<br />
%category_img_tn%<br />
%category_img_source%<br />-->
<p>Всего товара <strong>%category_name%</strong> %total_in_cat% шт.</p>
<div class="sortirov">
<select class="idselect inputbox" name="product_currency" size="1" onchange="location.href=this.value">
<option value="/">Сортировать</option>
<option value="%current_page_url%filterid=pricedown">По цене &uarr;</option>
<option value="%current_page_url%filterid=priceup">По цене &darr;</option>
<option value="%current_page_url%filterid=sort_name">По названию товара (А-Я)</option>
<option value="%current_page_url%filterid=sort_sale">По наличию скидки</option>
</select>
</div>
				<div class="clear"></div>

<div class="thumbnails">
    %row%
</div>



%pages%
</div> <!-- close class="box2" -->
</div> <!-- close class="box_home" -->


<!-- @cat_page -->
[#list_category#]

<!-- @category_name -->
%category_name_value%

<!-- @category_img -->
<img src="%category_img_value%">

<!-- @category_img_tn -->
<img src="%category_img_value%">

<!-- @category_img_source -->
<img src="%category_img_value%">

<!-- @category_description_cat -->
%category_description_cat_value%

<!-- @list_null -->
<p class="tovara_net">Товара нет, скорее всего вы не загрузили товар в данную категорию или попробуйте изменить параметры поиска</p>




<!-- @row_odd -->
    <ins class="thumbnail">
        <div class="r">
		    <div class="wrapp-item">
            %picture%
			%name%
            %model%
			%price%
			%oldprice%
			<p><a href="http://%host%/?goto=%item_id%" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;"><img src="/templates/images/mode.png" class="button" /></a></p>
        </div></div>
    </ins>

<!-- @row_even -->
    <ins class="thumbnail">
        <div class="r">
            %picture%
			%name%
            %model%
			%price%
			%oldprice%
			<p><a href="http://%host%/?goto=%item_id%" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;"><img src="/templates/images/mode.png" class="button" /></a></p>
        </div>
    </ins>

<!-- @name -->
<h3><a href="%link%">%name_value%</a></h3>

<!-- @description -->
<p>%description_value%</p>

<!-- @price -->
<p class="cena">%price_value% руб.</p>

<!-- @oldprice -->
<span class="cena" style="color:red;text-decoration: line-through;">%oldprice_value% руб.
</span>

<!-- @picture -->
<div class="l-p">
<a href="http://%host%/?goto=%item_id%" class="l-p" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;"><img src="%picture_value%" width="200" border="0" alt="%name_value%" title="%name_value%"/></a>
</div>
<!--
<img src="%thumbnail_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
<img src="%picture_orig_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
-->

<!-- @model -->
<p>Модель:<br />%model_value%</p>

<!-- @model_null -->

<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @pages -->
<div class="text">
<center>
<div class="pages">
%first% %backward% %previous% %pages_block% %next% %forward% %last%
</div>
</center>
</div>

<!-- @page_first -->

<a href="%link%">←</a>

<!-- @page_backward -->

<!-- @page_backward_disabled -->

<!-- @page_previous -->

<!-- @page_previous_disabled -->


<!-- @page_forward -->

<!-- @page_forward_disabled -->

<!-- @page_next -->

<!-- @page_next_disabled -->

<!-- @page_last -->

<a href="%link%">→</a>

<!-- @page_active -->

<a href="%link%">%page%</a>

<!-- @page_passive -->

<a class="current">%page%</a>

<!-- @page_delimeter -->


<!-- @page_null -->

<!-- @sale_sum -->
Ваша экономия %sale_sum% р.!

<!-- @sale_percent -->
Скидка составляет: %sale_percent% %
