<!-- @list -->
<section class="section-hero section-gray" id="section-shop">
    <div class="container">
        <div class="hero-section-header ">
            <h3 class="hero-section-title">НОВЫЕ ТОВАРЫ</h3>
        </div>

        <div class="section-content">
            
            <div class="row">
                <div id="productslider" class="owl-carousel owl-theme">
                    %row%
                </div>                
            </div>
        </div>

    </div>
</section>

<!-- @category_name -->
<h1 class="act-category-title clearfixin">%category_name_value%</h1>

<!-- @category_description_cat -->
<div class="act-category-description">
%category_description_cat_value%
</div>


<!-- @list_null --> 
<div class="act-units">
    <div class="act-unit-25 act-padding-right">      
[#categories_left#]      
    </div>
    <div class="act-unit-75">

        <h2>К сожалению, товар не найден</h2>
        <p>Если вы указали параметры поиска и товар не найден, <a href="#" onclick="history.back();return false;">вернитесь на предыдущую страницу</a></p>
      <p><a href="/">Главная страница</a></p>        
    </div>
 </div> 

<!-- @row -->
<div class="product-item item-flat" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="RUB">
                    <div class="product product-item-inner">
                        <div class="imageHover hasCart">
                            <a href="http://%host%/?goto=%item_id%" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;">
                                <img class="img-responsive" alt="img" title="%name_value%" src="%picture_orig_1_value%"></a>

                            <div class="product-btn-box">
                                <a class="btn btn-product-flat btn-primary" href="http://%host%/?goto=%item_id%" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;">
                                    <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> ПОДРОБНЕЕ </span>
                                </a>
                            </div>
                            %sale_percent%

                        </div>


                        <div class="prod-details">
                            %name%

                            <p class="product-flat-info">
                                %model%
                                %oldprice%
                                %price%
                            </p>  
                        </div>

                    </div>
                </div>
<!-- @description -->
%description_value%

<!-- @currencyId -->
%currencyId_value%

<!-- @model -->
<span class="product-model">Модель: %model_value%</span> <br>

<!-- @price -->
<span itemprop="price" class="product-curreent-price">%price_value% руб. </span>

<!-- @oldprice -->
<span class="price-old">%oldprice_value%</span> &nbsp;|&nbsp;

<!-- @sale_percent -->
<div class="promotion"><span class="discount">-%sale_percent%%</span></div>

<!-- @picture -->
  <div class="adm-si-image uk-text-center">
    <div class="adm-si-infoblock">
      <div class="adm-si-name-full"><a href="%link%">%name_value%</a></div>
            <div class="adm-si-preview"><a type="button" data-preview-link="%link%" class="adm-preview-button"><i class="fa fa-eye"></i><span>Увеличить</span></a></div> 
            <div class="adm-si-buy"><a type="button" data-buy-link="http://%host%/?goto=%item_id%" class="adm-buy-button"><i class="fa fa-shopping-cart"></i><span>Подробнее в магазине</span></a></div> 
    </div>      
    <img itemprop="image" src="%picture_value%" alt="%name_value%" class="act-responsive-width" title="%name_value%" />
  </div>      

<!-- @name -->
<p itemprop="name" class="title"><a href="%link%" title="%name_value%">%name_value%</a></p>

<!-- @vendor -->
<div class="si-vendor"><span itemprop="brand">%vendor_value%</span></div>

<!-- @advcampaign_name -->
<div class="si-advcampaign"><span>Магазин:</span> %advcampaign_name_value%</div>


<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @pages -->
  <div class="catalog-pagination">
    <ul class="uk-pagination">
      %first% %previous% %pages_block% %next% %last%
    </ul>
  </div>

<!-- @page_first -->
<li><a href="%link%"><i class="fa fa-angle-double-left"></i></a></li>
<!-- @page_backward -->
<li><a href="%link%"><i class="fa fa-angle-left"></i></a></li>
<!-- @page_backward_disabled -->
<li class="disabled"><span><i class="fa fa-angle-left"></i></span></li>
<!-- @page_previous -->
<li><a href="%link%"><i class="fa fa-angle-left"></i></a></li>
<!-- @page_previous_disabled -->

<!-- @page_forward -->
<li><a href="%link%">page_forward</a></li>
<!-- @page_forward_disabled -->

<!-- @page_next -->
<li><a href="%link%"><i class="fa fa-angle-right"></i></a></li>
<!-- @page_next_disabled -->
<li class="disabled"><span><i class="fa fa-angle-right"></i></span></li>
<!-- @page_last -->
<li><a href="%link%"><i class="fa fa-angle-double-right"></i></a></li>
<!-- @page_active -->
<li><a href="%link%">%page%</a></li>
<!-- @page_passive -->
<li class="active"><span>%page%</span></li>
<!-- @page_delimeter -->
<!-- @page_null
