<!-- @list -->
<div class="box_home">
<div class="box2">

<div class="blok_5">
<div class="titl5"><p>Новинки</p></div>
<div class="tovar_5">
<div class="thumbnails">
    %row%
</div>
</div>
</div>



%pages%
</div> <!-- close class="box2" -->
</div> <!-- close class="box_home" -->
<!-- @list_null -->

<!-- @row_odd -->

    <ins class="thumbnail">
        <div class="rcard">
            %picture%
			%name%
            %model%
			%price%
			%oldprice%
			<p><a href="http://%host%/?goto=%item_id%" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;"><img src="/templates/mvm/images/mode.png" class="button" /></a></p>
        </div>
    </ins>

<!-- @row_even -->
    <ins class="thumbnail">
        <div class="rcard">
            %picture%
			%name%
            %model%
			%price%
			%oldprice%
			<p><a href="http://%host%/?goto=%item_id%" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;"><img src="/templates/mvm/images/mode.png" class="button" /></a></p>
        </div>
    </ins>

<!-- @name -->
<h3><a href="%link%">%name_value%</a></h3>

<!-- @description -->
<p>%description_value%</p>

<!-- @price -->
<p class="cena">%price_value% руб.</p>

<!-- @oldprice -->
<span class="cena" style="color:red;text-decoration: line-through;">%oldprice_value% руб.
</span>

<!-- @picture -->
<div class="l-p">
<a href="http://%host%/?goto=%item_id%" class="l-p" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;"><img src="%picture_value%" width="200" border="0" alt="%name_value%" title="%name_value%"/></a>
</div>
<!-- <a href="%link%"><img src="%picture_value%" width="180" width="180" border="0" alt="%name_value%" title="%name_value%"/></a><br /> -->
<!--
<img src="%thumbnail_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
<img src="%picture_orig_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
-->

<!-- @model -->
<p>Модель:<br />%model_value%</p>

<!-- @model_null -->

<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @pages -->
<div class="text">
<center>
<div class="pages">
%first% %backward% %previous% %pages_block% %next% %forward% %last%
</div>
</center>
</div>

<!-- @page_first -->

<a href="%link%">←</a>

<!-- @page_backward -->

<!-- @page_backward_disabled -->

<!-- @page_previous -->

<!-- @page_previous_disabled -->

<!-- @page_forward -->

<!-- @page_forward_disabled -->

<!-- @page_next -->

<!-- @page_next_disabled -->

<!-- @page_last -->

<a href="%link%">→</a>

<!-- @page_active -->

<a href="%link%">%page%</a>

<!-- @page_passive -->

<a class="current">%page%</a>

<!-- @page_delimeter -->

<!-- @page_null -->
