<!-- Шаблон карточки товара 
http://www.cpasoft.ru/faq1.html?a=3&b=25
-->

<!-- @item -->
<script type="text/javascript">
	var items=['%picture_orig_1_value%','%picture_orig_2_value%','%picture_orig_3_value%','%picture_orig_4_value%','%picture_orig_5_value%','%picture_orig_6_value%','%picture_orig_7_value%','%picture_orig_8_value%','%picture_orig_9_value%','%picture_orig_10_value%'];
	$(document).ready(function () {
		$.each(items,function(i,el){
			if (el!='' && el.match(/\./)){
				$('.tovar_imag .tovar_images').append(' <a href="'+el+'"><img src="/pic.php?f='+el+'&w=50&h=50" /></a> ');
			}
		});
		$('.tovar_images a').each(function(i,el){
			$(el).click(function(){
				$('#zoom1').attr('href',$(this).attr('href'));
				$('#zoom1 img').attr('src','/pic.php?f='+$(this).attr('href')+'&w=200&h=300');
				$('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
				return false;
			});
		});
	});
</script>
<div class="box_home" itemscope itemtype="http://schema.org/Product">
<div class="box2">


<div id="tovar" class="tovar">

<table>
<tr>
<td class="tovar_imag">
	<!--<a href="/big/%picture_value%" class ="cloud-zoom" id="zoom1" rel="position:'right',showTitle:1,titleOpacity:0.5,lensOpacity:0.5,adjustX: 10,adjustY:-4">-->
	<a href="%picture_orig_value%" class ="cloud-zoom" id="zoom1" rel="position:'right',showTitle:1,titleOpacity:0.5,lensOpacity:0.5,adjustX: 10,adjustY:-4"> 
	%picture%
	</a>
	<div class="tovar_images">
	</div>
</td>
<td class="tovar_opis">
	<span itemprop="name">%name%</span>
	<span itemprop="model">%model%</span>
	
	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	<div class="protovar_wrap">	
	<span itemprop="availability">Наличие: есть на складе</span>
	</div>
	
	<div class="cena_wrap">
	<span itemprop="price">%price%</span></br>
	%oldprice%
	
	</div>
	</div>
	<span>%sale_sum% %sale_percent%</span>
	<br />
	<!-- Сюда можно поместить свой баттен !!!
	<p><a href="http://%host%/?goto=%item_id%"><img src="/templates/images/button_backet.png" alt="" class="button" /></a></p>-->
	<!-- <p><a href="http://%host%/?goto=%item_id%" target="_blank"><img src="/templates/images/mode.png" class="button" /></a></p> -->
	<!-- <span>Где купить: <a href="http://%host%/?goto=%item_id%" style="font-size: 15px;" target="_blank">%advcampaign_name_value%.ru</a> (откроется в новом окне)</span> -->
	<p><button class="buybutton" onclick="window.open('http://%host%/?goto=%item_id%', 'target=_blank'); yaCounter20394550.reachGoal('INORDER'); return false;">Купить в %advcampaign_name_value%</button></p>

	<div class="stars_tovar">
		<img src="http://my-vip-moda.ru/templates/images/starss.png">
		&nbsp&nbsp;
		<a href="#">0 отзывов</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#">Написать отзыв</a>
	</div>
	
		
	<div class="socials_tovar">
			<script type="text/javascript" src="//yandex.st/share/share.js"
			charset="utf-8"></script>
			<div class="yashare-auto-init" data-yashareL10n="ru"
			 data-yashareType="link" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"></div> 

	</div>
</td>
</tr>
</table>
</div>
		 <div class="clear"></div>
<div class="section">
  <ul class="tabs">
    <li class="current"><p>Описание</p></li>
    <li><p>Доставка</p></li>
    <li><p>Отзывы</p></li>
  </ul>
  <div itemprop="description" class="box visible">
%description%
%param%
  </div>
  <div class="box">
<p>
Условия доставки товара покупателям устанавливаются компаниями, которые представляют свой товар на нашем сайте. У каждого магазина – свои правила. Но в большинстве случаев используются три варианта доставки, из которых вы можете выбрать наиболее удобный:<br/><br/>
- самовывоз товара;<br/>
- доставка с помощью курьера;<br/>
- доставка по России с помощью компаний-перевозчиков.<br/><br/>
<b>Самовывоз товара</b> означает, что вы сможете сами забрать выбранный вами товар в магазине в удобное время. Уточнить адрес магазина и детали доставки можно прямо на страничке выбранного товара.<br/><br/>
<b>Доставка с помощью курьера.</b> Большинство наших магазинов готовы предоставить вам курьера для доставки товара. Доставка выполняется на следующий день после покупки, с обязательным предварительным звонком по телефону. Оплата вещей – при получении. Стоимость доставки зависит от веса и количества купленного товара. Узнать детальнее можно узнать на странице выбранного товара.<br/><br/>
<b>Доставка по России.</b> Мы можем доставить вам товар в любую точку нашей страны. В этом помогут специализированные компании-перевозчики, услугами которыми мы пользуемся. Доставка по России происходит по правилам и расценкам, которые приняты в компании-перевозчике. Подробнее об этом рассказано на страничке конкретного товара в разделе «Доставка».
</p>
  </div>
  <div class="box">
[#comments_tovar#]
  </div>  
</div>

</div> <!-- close class="box2" -->
</div> <!-- close class="box_home" -->

[#voting#]
[#kartochka_tovara1#]
[#kartochka_tovara2#]
[#kartochka_tovara3#]
[#kartochka_tovara4#]

<!-- @name -->
<h1>%name_value%</h1>

<!-- @description -->
<p>%description_value%</p>

<!-- @param -->
<p>Характеристики товара:</p>
<ul>%param_value%</ul>

<!-- @model -->
<p style="font-size: 12px">Модель: %model_value%</p>

<!-- @model_null -->

<!-- @price -->
<div class="ccena"><span class="cen1">Цена:</span> <span class="cen2">%price_value%</span>  <span class="cen3">руб.</span> </div>

<!-- @oldprice -->
<!--<p class="cena1">%oldprice_value%</p>-->
<div class="old_cena"> <span class="olcen2">%oldprice_value% </span> <span class="olcen3">руб.</span> 
</span>
</div>
<div class="clear"></div>

<!-- @picture -->
<img itemprop="image" class="img" src="%picture_value%" border="0" alt="%name_value%" title="%name_value%"/>
<!-- Возможные значения из выгрузки
<img src="%thumbnail_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
<img src="%picture_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
<img src="%picture_orig_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
-->
<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @cat_way_block -->

<!-- @sale_sum -->
Вы можете сэкономить %sale_sum% рублей

<!-- @sale_percent -->
при скидке %sale_percent% %


%cat_way%

<!-- @cat_way_separator -->

-&gt;

<!-- @cat_way_active -->

<b>%cat_name%</b>

<!-- @cat_way_passive -->

<a href="%cat_link%">%cat_name%</a>

