<!-- @list -->
<section class=" section-similar-product graybg">
    <!-- <div class="container"> -->

        <div class="hero-section-header ">
            <h3 class="hero-section-title"> Смотрите еще</h3>
        </div>


        <div class="section-content">
            <div class="row has-equal-height-child">
                %row%
            </div>
        </div>

    <!-- </div> -->

</section>
<!--/.section-similar-product-->

<!-- @list_null -->

<!-- @row -->
                <div class="product-item item-flat col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12">
                    <div class="product" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="RUB">
                        %picture%
                        <div class="description">
                            %name%

                            <div class="grid-description">
                                %model%

                            </div>
                            </div>
                        %price%
                        <div class="action-control"><a class="btn btn-primary" href="http://%host%/?goto=%item_id%" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;"> <span class="add2cart"><i
                                class="glyphicon glyphicon-shopping-cart"> </i> Подробнее </span> </a></div>
                    </div>
                </div>
                <!--/.item-->
    

<!-- @name -->
<h4 itemprop="name"><a href="%link%">%name_value%</a></h4>

<!-- @description -->
<p>%description_value%</p>

<!-- @price -->
<div class="price">%oldprice%<span itemprop="price">%price_value%&nbsp;руб.</span></div>

<!-- @oldprice -->
<span style="color: red; text-decoration: line-through;">%oldprice_value%</span><span> | </span>

<!-- @picture -->
                        <div class="image">
                            <a href="http://%host%/?goto=%item_id%" target="_blank" onclick="yaCounter20394550.reachGoal('INORDER'); return true;"><img class="img-responsive" alt="%name_value%" title="%name_value%, каталог"
                                                                src="%picture_value%"></a>
                            %sale_percent%
                        </div>

<!-- @model -->
<p>Модель:<br>
%model_value%</p>

<!-- @model_null -->
<p>Модель:<br>
%vendorCode_value%</p>

<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @pages -->
<div class="pagination pull-left no-margin-top">
    <ul class="pagination no-margin-top">
%first% %backward% %previous% %pages_block% %next% %forward% %last%
    </ul>
</div>

<!-- @page_first -->
<li><a href="%link%">«</a></li>

<!-- @page_backward -->

<!-- @page_backward_disabled -->

<!-- @page_previous -->

<!-- @page_previous_disabled -->


<!-- @page_forward -->

<!-- @page_forward_disabled -->

<!-- @page_next -->

<!-- @page_next_disabled -->

<!-- @page_last -->
<li><a href="%link%">»</a></li>

<!-- @page_active -->
<li><a href="%link%">%page%</a></li>

<!-- @page_passive -->
<li class="active"><a>%page%</a></li>

<!-- @page_delimeter -->


<!-- @page_null -->

<!-- @sale_sum -->
Ваша экономия %sale_sum% р.!

<!-- @sale_percent -->
<div class="promotion"><span class="discount">-%sale_percent%%</span></div>

<!-- @category_popular_brands -->
%category_popular_brands_value%

<!-- @category_popular_brands_null -->
<p>Пусто</p>

<!-- @category_popular_requests -->
%category_popular_requests_value%

<!-- @category_popular_requests_null -->
<p>Пусто</p>

<!-- @category_picture_cat -->
<div class="categoryImage"><img src="/%category_picture_cat_value%" class="img-responsive" %category_picture_alt_cat% %category_picture_title_cat%>
</div>

<!-- @category_picture_cat_null -->

<!-- @category_picture_alt_cat -->
alt="%category_picture_alt_cat_value%"

<!-- @category_picture_alt_cat_null -->

<!-- @category_picture_title_cat -->
title="%category_picture_title_cat_value%"

<!-- @category_picture_title_cat_null -->
