<!-- @begin -->
<ul class="nav navbar-nav">      
<!-- @@nextlevel -->
<ul class="dropdown-menu">
<!-- @@nextlevel -->
<ul class="dropdown-menu">
<!-- @link -->
<li class="dropdown "><a data-toggle="dropdown" class="dropdown-toggle" href="%link%">%name_value%<b class="caret"></b></a>
 <!-- @@nextlevel -->
<li><a href="%link%">%name_value%</a>
 <!-- @@nextlevel -->
<li><a href="%link%" class="next2">%name_value%</a>
<!-- @passiveactive -->
<li><a href="%link%">%name_value%</a>
<!-- @activelink -->
<li><a class="nav strong" href="%link%">%name_value%</a>
<!-- @end -->
</ul>
<!-- @@nextlevel -->
</li>
</ul>
<!-- @delimiter -->
</li>
