<!-- @begin -->
<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseCategory" class="collapseWill active ">
                                <span class="pull-left"> <i class="fa fa-caret-right"></i></span> Категории
                            </a>
                        </h4>
                    </div>

                    <div id="collapseCategory" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked tree">
    <!-- @@nextlevel -->
    <ul class="category-level-2 dropdown-menu-tree">
<!-- @link -->
<li><a href="%link%" title="%name_value%">%name_value%</a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%">%name_value%</a>
<!-- @activelink -->
<li><a class="active" href="%link%" title="%name_value%"><b>%name_value%</b></a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%"><b>%name_value%</b></a>
<!-- @passiveactive -->
<li><a class="active" href="%link%" title="%name_value%">%name_value%</a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%">%name_value%</a>
<!-- @end -->
</li></ul></div></div></div>
    <!-- @@nextlevel -->
    </li></ul></li>
<!-- @delimiter -->
</li>
