<!-- Шаблон категорий товаров -->

<!-- @begin -->

<div id="smoothmenu1" class="ddsmoothmenu" >
<ul>
<!--<li><a href="/rasprodazha.html">Распродажа</a></li>-->
    <!-- @@nextlevel -->
    <ul>
<!-- @link -->
<li class="smmenu1"><a href="%link%" title="%name_value%">%name_value%</a>
    <!-- @@nextlevel -->
<li class="smmenu2"><a href="%link%" title="%name_value%">%name_value%</a>
<!-- @activelink -->
<li  class="smmenu3"><a class="active" href="%link%" title="%name_value%"><b>%name_value%</b></a>
    <!-- @@nextlevel -->
<li class="smmenu4"><a class="active" href="%link%" title="%name_value%">%name_value%</a>
<!-- @passiveactive -->
<li class="smmenu5"><a class="active" href="%link%" title="%name_value%">%name_value%</a>
    <!-- @@nextlevel -->
<li class="smmenu6"><a href="%link%" title="%name_value%">%name_value%</a><!--</li>-->
<!-- @end -->
<!-- </li> -->
<!-- Этот кусок нужно править в шаблоне списка категорий categories_catalog_top.html
<li>
<select class="select-top" onChange="if(value!=''){location=value}else{options[selectedIndex=0];}">
  <option>Производитель</option>
  <option value="/vendor-filtr.html?vendor=H.I.S.">H.I.S.</option>
  <option value="/vendor-filtr.html?vendor=Lascana">Lascana</option>
  <option value="/vendor-filtr.html?vendor=NUANCE">NUANCE</option>
  <option value="/vendor-filtr.html?vendor=PETITE FLEUR">PETITE FLEUR</option>
  <option value="/vendor-filtr.html?vendor=Oliver">Oliver</option>  
</select>	
</li>
-->
</ul>
<br style="clear: left" /></div>
    <!-- @@nextlevel -->
    </li></ul>
<!-- @delimiter -->
</li>