
<!-- @list -->
    	<div class="act-units category-pagination m-b-s">
      	<div class="act-unit-100 t-a-c">
    			%pages%
        </div>
      </div>



      <div class="block-listing m-t-s">
      	<ul>
          %row%
        </ul>
      </div>

    	<div class="act-units category-pagination m-t-s m-b-s">
      	<div class="act-unit-100 t-a-c">
    			%pages%
        </div>
      </div>


<!-- @list_null -->
<p>К сожалению, товар не найден.</p>

<!-- @row -->
<li>
<div class="adm-store-item">
	<div class="adm-si-panel">

    %picture%

    %name%

    <div class="uk-clearfix adm-si-priceblock">
      %price%
      %oldprice%
    </div>

	</div>

</div>
</li>

<!-- @name -->
<div class="adm-si-name"><a href="%link%" title="%name_value%">%name_value%</a></div>

<!-- @description -->
<p>%description_value%</p>

<!-- @price -->
<div class="adm-price-value"><span class="adm-actual-price">%price_value%</span> <sup>руб.</sup></div>

<!-- @oldprice -->
<div class="adm-price-value"><span class="adm-old-price">%oldprice_value%</span> <sup>руб.</sup></div>

<!-- @picture -->
  <div class="adm-si-image uk-text-center">
    <div class="adm-si-infoblock">
      <div class="adm-si-name-full"><a href="%link%">%name_value%</a></div>
			<div class="adm-si-preview"><a type="button" data-preview-link="%link%" class="adm-preview-button"><i class="fa fa-eye"></i><span>Увеличить</span></a></div>
			<div class="adm-si-buy"><a type="button" data-buy-link="http://%host%/?goto=%item_id%" class="adm-buy-button" onclick="yaCounter20394550.reachGoal('INORDER'); return false;"><i class="fa fa-shopping-cart"></i><span>Подробнее в магазине</span></a></div>
    </div>
    <img src="%picture_value%" alt="%name_value%" class="uk-responsive-width" title="%name_value%" />
  </div>


<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @pages -->
  <div class="catalog-pagination t-a-c">
    <ul class="uk-pagination">
      %first% %previous% %pages_block% %next% %last%
    </ul>
  </div>

<!-- @page_first -->
<li><a href="%link%"><i class="fa fa-angle-double-left"></i></a></li>
<!-- @page_backward -->
<li><a href="%link%"><i class="fa fa-angle-left"></i></a></li>
<!-- @page_backward_disabled -->
<li class="disabled"><span><i class="fa fa-angle-left"></i></span></li>
<!-- @page_previous -->
<li><a href="%link%"><i class="fa fa-angle-left"></i></a></li>
<!-- @page_previous_disabled -->

<!-- @page_forward -->
<li><a href="%link%">page_forward</a></li>
<!-- @page_forward_disabled -->

<!-- @page_next -->
<li><a href="%link%"><i class="fa fa-angle-right"></i></a></li>
<!-- @page_next_disabled -->
<li class="disabled"><span><i class="fa fa-angle-right"></i></span></li>
<!-- @page_last -->
<li><a href="%link%"><i class="fa fa-angle-double-right"></i></a></li>
<!-- @page_active -->
<li><a href="%link%">%page%</a></li>
<!-- @page_passive -->
<li class="active"><span>%page%</span></li>
<!-- @page_delimeter -->
<!-- @page_null -->