<!-- @item -->
<div class="clearfixin item-popup-modal product-page-block">
  <div class="item-popup-body">
  	<div class="uk-panel">
      <h4 class="product-title">%name% </h4>
      <div class="popup-item-wrapper uk-clearfix">
      <div class="adm-fluid-wrapper">
  
        <div class="product-thumb clearfixin">%picture% </div>
  
        <div class="product-info">
          <div class="act-units">
            <div class="act-unit-50">%vendor%</div>
            <div class="act-unit-50">%advcampaign_name%</div>
          </div>
          
          <div class="act-units last-row">
            <div class="act-unit-50">%price% %oldprice%</div>
            <div class="act-unit-50"><button  class="item-buy-action" onclick="window.open('http://%host%/?goto=%item_id%', 'target=_blank'); yaCounter20394550.reachGoal('ORDER'); return false;"><i class="fa fa-shopping-cart"></i> Купить в магазине</button></div>
          </div>
          
          %description%
  
          %category%
          
          %cat_way_block%
        </div>
      
      </div>
        
      </div>
    </div>
  </div>
  <div class="item-popup-additionals">
  	[#popup-coupons#] 
  </div>
  
  
  
</div>
  <div class="act-tabs m-t-s m-b-s">
  
    <ul class="act-tab act-units">
        <li class="act-unit-50 current">Похожие товары</li>
        <li class="act-unit-50">Популярные товары</li>
    </ul>
    <div class="act-tab-panels">
        <div class="act-tab-panel visible">[#popup-similar#]</div>
        <div class="act-tab-panel">[#popup-popular#]</div>
    </div>
  
  </div>
<!-- @name -->
%name_value%

<!-- @original_id -->
<div class="item-info-row">артикул: %original_id_value%</div>


<!-- @description -->
<div class="item-description">%description_value%</div>

<!-- @model -->
<h4>%model_value%</h4>

<!-- @advcampaign_name -->
<div class="item-info-row">Продавец: <a title="Все товары магазина %advcampaign_name_value%" href="/catalog/search/?search=%advcampaign_name_value%"><b>&laquo;%advcampaign_name_value%&raquo;</b></a></div>

<!-- @price -->
<div class="adm-price-value"><span class="adm-actual-price">%price_value%</span> <sup>руб.</sup></div>

<!-- @oldprice -->
<div class="adm-price-value"><span class="adm-old-price">%oldprice_value%</span> <sup>руб.</sup></div>

<!-- @picture -->
<img src="%picture_value%" alt="%name_value%" title="%name_value%"/>

<!-- @category -->
<div class="item-description">Товар относится к %category_value%</div>


<!-- @vendor -->
<div class="item-info-row">Бренд: <a title="Все товары бренда %vendor_value%" href="/catalog/search/?search=%vendor_value%"><b>&laquo;%vendor_value%&raquo;</b></a></div>

<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->
<!-- @oldprice_null -->

<!-- @row_delimeter -->

<!-- @cat_way_block -->
<div class="item-description">Все %cat_way%</div>

<!-- @cat_way_separator -->
<i class="fa fa-angle-right"></i>

<!-- @cat_way_active -->
<b><a href="%cat_link%">%cat_name%</a></b>

<!-- @cat_way_passive -->
<a href="%cat_link%">%cat_name%</a>