<!-- Шаблон карточки товара
http://www.cpasoft.ru/faq1.html?a=3&b=25
-->

<!-- @item -->
[#breadcrumbs#]

<div itemscope itemtype="http://schema.org/Product">
<section class="section-product-info">



        <div class="row">

            <!-- left column -->

            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="product-images-carousel-wrapper">
                    <nav class="slider-nav has-white-bg nav-narrow-svg">
                        <a class="prev">
                            <span class="icon-wrap"></span>

                        </a>
                        <a class="next">
                            <span class="icon-wrap"></span>
                        </a>
                    </nav>


                    <div class="product-images-carousel">
                        %picture_orig_1%
                        %picture_orig_2%
                        %picture_orig_3%
                        %picture_orig_4%
                        %picture_orig_5%
                        %picture_orig_6%
                    </div>

                </div>


            </div>
            <!--/ left column end -->


            <!-- right column -->
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="product-details-info-wrapper">

                    %name%
                    %model%

                    <div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        %price%
                        %oldprice%
                        <br>
                        %sale_sum%
                    </div>

                    <div class="item-tags">
                    %vendor%
                    %cat_way_block%
                    </div>                    

                    <div class="row row-cart-actions clearfix ">
                        <div class="col-sm-12 ">

                            <noindex><a class="btn btn-block btn-dark" onclick="window.open('http://%host%/?goto=%item_id%', 'target=_blank'); yaCounter20394550.reachGoal('INORDER'); return false;">
                                Купить в %advcampaign_name_value%
                            </a></noindex>

                        </div>

                    </div>


                    <div class="clear"></div>


                    <div class="product-share clearfix">
                        <p> ПОДЕЛИТЬСЯ </p>

                        <script type="text/javascript">(function(w,doc) {
if (!w.__utlWdgt ) {
    w.__utlWdgt = true;
    var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
}})(window,document);
</script>
<div data-background-alpha="0.0" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-size="12" data-top-button="false" data-share-counter-type="disable" data-share-style="1" data-mode="share" data-like-text-enable="false" data-mobile-view="true" data-icon-color="#ffffff" data-orientation="horizontal" data-text-color="#000000" data-share-shape="round-rectangle" data-sn-ids="fb.vk.tw.ok.gp." data-share-size="30" data-background-color="#ffffff" data-preview-mobile="false" data-mobile-sn-ids="fb.vk.tw.wh.ok.vb." data-pid="1519136" data-counter-background-alpha="1.0" data-following-enable="false" data-exclude-show-more="false" data-selection-enable="true" class="uptolike-buttons" ></div>


                        <br>
                    </div>


                    <div style="clear:both"></div>


                </div>
            </div>
            <!--/ right column end -->

        </div>
        <!--/.row-->


        <div style="clear:both"></div>



    <!-- /.product-details-container -->
</section>

<section class="section-product-info-bottom">
    <div class="product-details-bottom-bar">
        <div class="container-1400 container">
            <div class="row">
                <div class="col-lg-8">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs flat list-unstyled list-inline social-inline" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="home" role="tab"
                                                                  data-toggle="tab">
                            Описание</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">
                            Доставка</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="settings" role="tab" data-toggle="tab">
                            Отзывы</a>
                        </li>

                    </ul>

                </div>
                <div class="col-lg-4">
                    <div class="review-title-bar">


                    </div>
                </div>
            </div>

        </div>
    </div>


</section>

<section class="section-tab-content">

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <div class="product-story-inner " itemprop="description">

                <div class="container-tab">

                    <div class="row ">

                        <div class="col-lg-12 ">
                        %description%
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab2">


            <div class="product-story-inner ">

                <div class="container-tab">

                    <div class="row has-equal-height-child">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  is-equal">
                            <div class="hw100 display-table">
                                <div class="hw100 display-table-cell">


                                    <div class="product-story-info-box">
                                        <div class="product-story-info-text " data-wow-duration=".8s"
                                             data-wow-delay="0">


                                            <h3 class="title">О доставке</h3>

                                            <p class="desc">

                                            Товар, заказанный в %advcampaign_name_value%, всегда можно вернуть — с курьером в момент доставки или по почте в течение 365 дней.<br>
                            Условия доставки товара покупателям устанавливаются компаниями, которые представляют свой товар на нашем сайте. У каждого магазина – свои правила. Но в большинстве случаев используются три варианта доставки, из которых вы можете выбрать наиболее удобный:<br><br>
                            - самовывоз товара;<br>
                            - доставка с помощью курьера;<br>
                            - доставка по России с помощью компаний-перевозчиков.<br><br>
                            <b>Самовывоз товара</b> означает, что вы сможете сами забрать выбранный вами товар в магазине в удобное время. Уточнить адрес магазина и детали доставки можно прямо на страничке выбранного товара.<br><br>
                            <b>Доставка с помощью курьера.</b> Большинство наших магазинов готовы предоставить вам курьера для доставки товара. Доставка выполняется на следующий день после покупки, с обязательным предварительным звонком по телефону. Оплата вещей – при получении. Стоимость доставки зависит от веса и количества купленного товара. Узнать детальнее можно узнать на странице выбранного товара.<br><br>
                            <b>Доставка по России.</b> Мы можем доставить вам товар в любую точку нашей страны. В этом помогут специализированные компании-перевозчики, услугами которыми мы пользуемся. Доставка по России происходит по правилам и расценкам, которые приняты в компании-перевозчике. Подробнее об этом рассказано на страничке конкретного товара в разделе «Доставка».
                                            </p>

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>


        </div>
        <div role="tabpanel" class="tab-pane" id="tab3">
            [#comments_tovar#]
        </div>
    </div>

</section>
</div>

<!-- product details additional section -->


        [#kartochka_tovara2#]
        [#kartochka_tovara3#]
        [#kartochka_tovara4#]
        [#content2#]
        [#content3#]
        [#content4#]


<!-- @name -->
<h1 class="product-details-product-title"><span itemprop="name">%name_value%</span></h1>

<!-- @description -->
                            <div class="hw100 display-table">
                                <div class="hw100 display-table-cell">


                                    <div class="product-story-info-box">
                                        <div class="product-story-info-text ">
                                            <h3 class="title">Описание и характеристики</h3>
                                            <p class="desc">
                                                %description_value%
                                            </p>
                                            %param%                                            
                                        </div>
                                    </div>


                                </div>
                            </div>

<!-- @param -->
<br>
<h4>Характеристики:</h4>
%param_value%

<!-- @model -->
<p><strong>Модель: <span itemprop="model">%model_value%</span></strong></p>

<!-- @model_null -->
<p><strong>Модель: <span itemprop="model">%vendorCode_value%</span></strong></p>

<!-- @price -->
<meta itemprop="priceCurrency" content="RUB">
<span class="price-sales"><span itemprop="price">%price_value%</span><sup>руб</sup></span>

<!-- @oldprice -->
<span class="price-standard">%oldprice_value%</span><sup class="price-standard-sup">руб</sup>

<!-- @picture -->
<img itemprop="image" class="img" src="%picture_value%" border="0" alt="%name_value%" title="%name_value%"/>
<!-- Возможные значения из выгрузки
<img src="%thumbnail_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
<img src="%picture_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
<img src="%picture_orig_value%" width="200" width="200" border="0" alt="%name_value%" title="%name_value%"/>
-->

<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @cat_way_block -->
%cat_way%

<!-- @cat_way_separator -->

<!-- @cat_way_active -->
<a class="item-tag" href="%cat_link%">Все товары категории &laquo;%cat_name%&raquo;</a>

<!-- @cat_way_passive -->

<!-- @sale_sum -->
<span class="price-tag">Вы можете сэкономить %sale_sum% рублей при скидке %sale_percent%%</span>

<!-- @sale_percent -->
%sale_percent%

<!-- @vendor -->
<a class="item-tag" title="Все %name_value%" href="/vitrina/search/?search=%name_value%">Все &laquo;%name_value%&raquo;</a><br>
<a class="item-tag" title="Все товары %vendor_value%" href="/vitrina/search/?search=%vendor_value%">Все товары бренда &laquo;<span itemprop="manufacturer">%vendor_value%</span>&raquo;</a><br>

<!-- @picture_orig_1 -->
<div itemprop="image" class="product-carousel-item">
    <div class="zoomContent">
    <img class="img-responsive product-carousel-item-img lazyOwl " data-src='%picture_orig_1_value%' alt='%name_value%'>
    </div>
</div>

<!-- @picture_orig_2 -->
<div class="product-carousel-item">
    <div class="zoomContent">
    <img class="img-responsive product-carousel-item-img lazyOwl " data-src='%picture_orig_2_value%' alt='%name_value%'>
    </div>
</div>

<!-- @picture_orig_3 -->
<div class="product-carousel-item">
    <div class="zoomContent">
    <img class="img-responsive product-carousel-item-img lazyOwl " data-src='%picture_orig_3_value%' alt='%name_value%'>
    </div>
</div>

<!-- @picture_orig_4 -->
<div class="product-carousel-item">
    <div class="zoomContent">
    <img class="img-responsive product-carousel-item-img lazyOwl " data-src='%picture_orig_4_value%' alt='%name_value%'>
    </div>
</div>

<!-- @picture_orig_5 -->
<div class="product-carousel-item">
    <div class="zoomContent">
    <img class="img-responsive product-carousel-item-img lazyOwl " data-src='%picture_orig_5_value%' alt='%name_value%'>
    </div>
</div>

<!-- @picture_orig_6 -->
<div class="product-carousel-item">
    <div class="zoomContent">
    <img class="img-responsive product-carousel-item-img lazyOwl " data-src='%picture_orig_6_value%' alt='%name_value%'>
    </div>
</div>
