@font-face {
    font-family: 'Oswald';
    src: local('Oswald Light'), local('Oswald-Light'), url('/templates/mvm/assets/fonts/oswald/Oswaldlight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'), url('/templates/mvm/assets/fonts/oswald/Oswaldregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Bold'), local('Oswald-Bold'), url('/templates/mvm/assets/fonts/oswald/Oswaldbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
