<!-- @begin -->
<div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
<!-- @link -->
                <li><a href="%link%" title="%text%">%text%</a></li>
<!-- @activelink -->
				<li class="active">%text%</li>
<!-- @delimiter -->

<!-- @end -->
			    </ul>
        </div>
    </div>
