<!-- @begin -->
<!-- @link -->
<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                    <div class="footer-col"><a href="%link%"><h4 class="footer-title">%text%</h4></a></div>
                </div>
<!-- @activelink -->
<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                    <div class="footer-col"><a href="%link%"><h4 class="footer-title"><b>%text%</b></h4></a></div>
                </div>
<!-- @passiveactive -->
<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                    <div class="footer-col"><a href="%link%"><h4 class="footer-title"><b>%text%</b></h4></a></div>
                </div>
<!-- @delimiter -->
<!-- @end -->