<!-- @begin -->
<div class="menu_top">
<a href="/">Главная</a>&nbsp;<img src="/templates/mvm/images/dec.png" />&nbsp;
<!-- @link -->
<a href="%link%">%text%</a>
<!-- @activelink -->
<a href="%link%"><b>%text%</b></a>
<!-- @passiveactive -->
<a href="%link%"><b>%text%</b></a>
<!-- @delimiter -->
&nbsp;<img src="/templates/mvm/images/dec.png" />&nbsp;
<!-- @end -->
 <!--   <div class="search_ok">
		  <a>
		  <form class="search-form" action="/search.html">
			<input type="text" name="search" placeholder="Поиск..." />
			<input type="submit" name="searchcatalog" value="Искать">
		  </form>
		  </a>
	</div>
-->



</div>
